# local files that the user wants to keep from scm
local/

# IDE and editor specific files
.idea/
**/.idea
.vscode/
**/.vscode
*.swp
*.swo
*.iml
*.iws
*.ipr


# Mac bundle stuff
*.dmg

# content below from: https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
# General
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride

# Applications
*.app
*.exe
*.war



# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# content below from: https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# OS
**/.DS_Store
**/Thumbs.db

# Env
**/.env
**/.env.*
!**/.env.example
!**/.env.test

#service specific ignores. we include them at this level incase we switch branches and their artifacts are not cleared during the switch. 
# Go
# Go modules
**/go.sum
# Go binaries for programs and plugins
**/*.exe
**/*.exe~
**/*.dll
**/*.so
**/*.dylib

# Go test binary, build output
**/*.test
**/*.out

# Go output of the go coverage tool, specifically when used with LiteIDE
**/*.coverprofile

# Go output of the go build tool
**/_build/

# Go dependency directories (remove the comment below if you use Go modules)
# /vendor/

# Go workspace file
**/go.work
**/go.work.sum

# database data directory
**/database-data/*

# nodejs
**/node_modules
**/dist

# svelte Output
**/.output
**/.vercel
**/.svelte-kit
**/build

# Vite
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*

## dotnet apps
**/bin
**/obj