# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build output
*.test
*.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.coverprofile

# Output of the go build tool
_build/

# IDE and editor specific files
.idea/
.vscode/
*.swp
*.swo
*.iml
*.iws
*.ipr


# Dependency directories (remove the comment below if you use Go modules)
# /vendor/

# Go workspace file
go.work
go.work.sum

